@model IEnumerable<AstraBlog.Models.BlogPost>
@using AstraBlog.Enums;
@using AstraBlog.Services.Interfaces

@inject IImageService _ImageService
@inject IBlogPostService _BlogService



<!-- Start Sidebar Area  -->
<div class="sidebar-inner">

    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_categories mb--30">
        <ul>
            @foreach (Category category in (await _BlogService.GetCategoriesAsync()).Take(4))
            {
                <li class="cat-item">
                    <a href="#" class="inner">
                        <div class="thumbnail">
                            <img src="@_ImageService.ConvertByteArrayToFile(category.ImageData!,category.ImageType!,(int)DefaultImage.BlogPostImage)" alt="">
                        </div>
                        <div class="content">
                            <h5 class="title">@category.Name</h5>
                        </div>
                    </a>
                </li>
            }

        </ul>
    </div>
    <!-- End Single Widget  -->
    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_search mb--30">
        <h5 class="widget-title">Search</h5>
        <form action="#">
            <div class="axil-search form-group">
                <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
    </div>
    <!-- End Single Widget  -->
    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_postlist mb--30">
        <h5 class="widget-title">Popular on Humble Hacker</h5>
        <!-- Start Post List  -->
        <div class="post-medium-block">

            <!-- Start Popular Blog Posts Widget  -->
            <div class="content-block post-medium mb--20">
                @foreach (BlogPost blogPost in (await _BlogService.GetPopularPostsAsync()).Take(3))
                {
                    <div class="post-thumbnail">
                        <!--TODO: make image clickable-->
                        <a>
                            <img src="@_ImageService.ConvertByteArrayToFile(blogPost.ImageData!,blogPost.ImageType!,(int)DefaultImage.BlogPostImage)" alt="Post Images">
                        </a>
                    </div>
                    <div class="post-content">
                        <h6 class="title">
                            @blogPost.Title
                            <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug" />
                        </h6>
                        <div class="post-meta">
                            <ul class="post-meta-list">
                                <li>@blogPost.Created</li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
            <!-- End Popular Blog Posts Widget -->
        </div>
        <!-- End Post List  -->

    </div>
    <!-- End Single Widget  -->
    <!-- Start Social Icons Widget  -->
    <div class="axil-single-widget widget widget_social mb--30">
        <h5 class="widget-title">Stay In Touch</h5>

        <!-- Social Icons  -->
        <ul class="social-icon md-size justify-content-center">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-slack"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>

        <!-- End Social Icon -->
    </div>
    <!-- End Social Icons Widget  -->
</div>
<!-- End Sidebar Area  -->
