@model AstraBlog.Models.Category

@using AstraBlog.Enums;
@using AstraBlog.Services.Interfaces
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;


@inject IImageService _ImageService
@inject IBlogPostService _BlogService

@{
    int pageSize = 3;
    int pageNum = ViewBag.Page;

    IPagedList<BlogPost> pageOfPosts = Model.BlogPosts
                                            .Where(bp => bp.IsPublished == true && bp.IsDeleted == false)
                                            .ToPagedList(pageNum, pageSize);
}

<!-- Start Category Details Area-->
<div class="axil-author-area axil-author-banner bg-color-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-author">
                    <div class="media">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="@_ImageService.ConvertByteArrayToFile(Model.ImageData!,Model.ImageType!, (int)DefaultImage.CategoryImage)" style="height:150px;" alt="Author Images">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="author-info">
                                <h1 class="title"><a href="#">@Model.Name</a></h1>
                            </div>
                            <div class="content">
                                <p class="b1 description">
                                    @Model.Description
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Category Details Area-->


<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <h2 class="title mb--40">Articles in @Model.Name Category</h2>
                </div>
            </div>
            <div class="col-lg-8 col-xl-8">
                @*ForEach BlogPost*@

                @foreach (var blogPost in pageOfPosts)
                {
                    <partial name="_BlogCard" model="@blogPost"/>
                }

                <div id="page-selector" class="mt-4">

                    @Html.PagedListPager(pageOfPosts, pageNum => Url.Action("Details", new{ id = Model.Id, pagenum = pageNum }),
                    new PagedListRenderOptions{
                    LiElementClasses = new string[] {"my-page-item"},
                    PageClasses = new string[] {"my-page-link"}
                    }
                    )

                </div>


            </div>
            <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
                <!-- Start Sidebar Area  -->
                <partial name="_Sidebar" />
                <!-- End Sidebar Area  -->



            </div>
        </div>
    </div>
</div>
